{% for laptop in laptops %}
    <div class="col-sm-4 col-lg-4 col-md-4">
        <div class="thumbnail">
            <img src="http://placehold.it/320x150" alt="">
            <div class="caption">
        {% if laptop %}
          <h4 class="pull-right">${{ laptop.price }}</h4>
          <h4><a href="{{ url_for( 'item',identifier=laptop.id )}}">{{ laptop.name }}</a> </h4>
          <p>{{ laptop.description }}</p>
        {% else %}
          <h4 class="pull-right">$0</h4>
          <h4><a href="#">laptop doesnt have a name</a> </h4>
          <p>No description</p>
        {% endif %}

            </div>
        </div>
   </div>
{% endfor %}

