{% extends "base.html" %}
{%block title %}CompuStore Login{%endblock %}
{%block body %}

{% if errors %}
  <h3>{{ errors }}!</h3>
{% endif %}

<link class="cssdeck" rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='bootstrap-responsive.min.css') }}" class="cssdeck">

<div class="" id="loginModal">
    <div class="modal-body" style="max-height:1024px;">
		<div class="well">
			<ul class="nav nav-tabs">
				<li class="active"><a href="#login" data-toggle="tab">Login</a></li>
				<li><a href="#create" data-toggle="tab">Create Account</a></li>
			</ul>
			<div id="myTabContent" class="tab-content">
				<div class="tab-pane active in" id="login">
					<form class="form-horizontal" action='' method="POST">
						<fieldset>
							<div id="legend">
								<legend class="">Login</legend>
							</div>    
							<div class="control-group">
								<!-- Username -->
								<label class="control-label"  for="username">Username</label>
								<div class="controls">
									<input type="text" id="username" name=username placeholder="" class="input-xlarge">
								</div>
							</div>
							
							<div class="control-group">
								<!-- Password-->
								<label class="control-label" for="password">Password</label>
								<div class="controls">
									<input type="password" id="password" name=password placeholder="" class="input-xlarge">
								</div>
							</div>
							
							
							<div class="control-group">
								<!-- Button -->
								<div class="controls">
									<button class="btn btn-success">Login</button>
								</div>
							</div>
						</fieldset>
					</form>                
				</div>
				<div class="tab-pane fade" id="create">
					<form id="tab" method = 'POST' action = '/signup'>
                        <div id="legend">
                            <legend class="">Create Account</legend>
                        </div>
                        <label>First Name</label>
                        <input type="text" name="fName" value="" class="input-xlarge"> <br/>
                        <label>Last Name</label>
                        <input type="text" name="lName" value="" class="input-xlarge"> <br/>
                        <label>Password</label>
                        <input type="password" name="passwd" value="" class="input-xlarge"> <br/>
						<label>Phone Number</label>
                        <input type="text" name="phone" value="" class="input-xlarge"> <br/>
						<label>Email</label>
                        <input type="text" name="email" value="" class="input-xlarge"> <br/>
						<label>Address</label>
						<textarea value="Smith" name="address" rows="3" class="input-xlarge">
						</textarea> <br/>
						<label>Credit Card Number</label>
                        <input type="text" value="" name="ccnumber" class="input-xlarge"> <br/>
						<label>Expiration Date</label>
                        <input type="date" value="" name="expirydate" class="input-xlarge"> <br/>
						<label>Security Code</label>
                        <input type="text" value="" name="securitycode" class="input-xlarge"> <br/> <br/>
						<div>
							<button class="btn btn-primary">Create Account</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
    {%endblock%}
